<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" th:href="@{/css/admincss.css}">

</head>

<body>
    <div class="navbar">
        <a th:href="@{/OglasiImi}">Početna</a>
        <div class="topnav-right">
            <div th:switch="${type}">
                <div th:case="'unregistered'">
                    <a th:href="@{/OglasiImi/prijava}">Prijavite se</a>
                    <div class="dropdown">
                        <button class="dropbtn">
                    Registrujte se
                    <i class="fa fa-caret-down"></i>
                  </button>
                        <div class="dropdown-content">
                            <a th:href="@{/OglasiImi/registracijaKompanije}">Kao poslodavac</a
                    >
                    <a th:href="@{/OglasiImi/registracija}">Kao kandidat</a>
                        </div>
                    </div>
                </div>
                <div th:case="candidate">
                    <a th:href="@{/OglasiImi/profileCandidate}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
                <div th:case="employer">
                    <a th:href="@{/OglasiImi/profileCompany}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
                <div th:case="admin">
                    <a th:href="@{/OglasiImi/AdmininstratorSpace}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
            </div>
        </div>
    </div>
    <div id="columns">
        <div id="navleft">
            <ul>
                <li><a th:href="@{/OglasiImi/AdmininstratorSpace/candidates}">Kandidati</a></li>
                <li>
                    <a th:href="@{/OglasiImi/AdmininstratorSpace/employers}">Poslodavci</a>
                </li>
                <li><a th:href="@{/OglasiImi/AdmininstratorSpace/ads}">Oglasi</a></li>
                <li><a th:href="@{/OglasiImi/AdmininstratorSpace/comments}">Komentari</a></li>
            </ul>
        </div>
        <div id="main" th:switch="${adminCase}">
            <div id="candidate" th:case="candidate">

                <h3>Kandidati</h3>

                <table id="cinfo">
                    <tr>
                        <th>id</th>
                        <th>firstname</th>
                        <th>lastname</th>
                        <th>dateOfBirth</th>
                        <th>email</th>
                        <!-- <th>emailme</th> -->
                        <th>address</th>
                        <th>username</th>
                        <th>password</th>
                        <th>telephoneNumber</th>
                        <th>workingExperience</th>
                    </tr>
                    <tr th:each="cand : ${candidates}">
                        <td id="cid" th:text="${cand.getId()}"></td>
                        <td id="cfirstname" th:text=${cand.getFirstname()}></td>
                        <td id="clastname" th:text="${cand.getLastname()}"></td>
                        <td id="cdateOfBirth" th:text="${cand.getDateOfBirth()}"></td>
                        <td id="cemail" th:text="${cand.getEmail()}"></td>
                        <!-- <td id="cemailme" th:text="${cand.isEmailMe()}"></td> -->
                        <td id="caddress" th:text="${cand.getAddress()}"></td>
                        <td id="cusername" th:text="${cand.getUsername()}"></td>
                        <td id="cpassword" th:text="${cand.getPassword()}"></td>
                        <td id="ctelephoneNumber" th:text="${cand.getTelephoneNumber()}"></td>
                        <td id="cworkingExperience" th:text="${cand.getWorkingExperience()}"></td>
                        <td><button id="change">IZMENI</button></td>
                        <td><button id="delete">IZBRISI</button></td>
                    </tr>
                </table>
            </div>
            <div id="employer" th:case="employer">

                <h3>Poslodavci</h3>

                <table id="einfo">
                    <tr>
                        <th>id</th>
                        <th>companyName</th>
                        <th>place</th>
                        <th>industryBranch</th>
                        <th>contactNumber</th>
                        <th>email</th>
                        <th>postNumber</th>
                        <th>country</th>
                        <th>address</th>
                        <th>pib</th>
                        <th>username</th>
                        <th>password</th>
                        <!-- <th>emailme</th> -->
                        <th>linkToWebsite</th>
                    </tr>
                    <tr th:each="emp : ${employers}">
                        <td id="eid" th:text="${emp.getId()}"></td>
                        <td id="ecompanyName" th:text="${emp.getCompanyName()}"></td>
                        <td id="eplace" th:text="${emp.getPlace()}"></td>
                        <td id="eindustryBranch" th:text="${emp.getIndustryBranch()}"></td>
                        <td id="econtactNumber" th:text="${emp.getContactNumber()}"></td>
                        <td id="eemail" th:text="${emp.getEmail()}"></td>
                        <td id="epostNumber" th:text="${emp.getPostNumber()}"></td>
                        <td id="ecountry" th:text="${emp.getCountry()}"></td>
                        <td id="eaddress" th:text="${emp.getAddress()}"></td>
                        <td id="epib" th:text="${emp.getPib()}"></td>
                        <td id="eusername" th:text="${emp.getUsername()}"></td>
                        <td id="epassword" th:text="${emp.getPassword()}"></td>
                        <!-- <td id="eemailme" th:text="${emp.isEmailMe()}"></td> -->
                        <td id="elinkToWebsite" th:text="${emp.getLinkToWebsite()}"></td>
                        <td><button id="change">IZMENI</button></td>
                        <td><button id="delete">IZBRISI</button></td>
                    </tr>
                </table>
            </div>
            <!-- <div id="admin">

                <h3>Administratori</h3>

                <table id="ainfo">
                    <tr>
                        <th>id</th>
                        <th>username</th>
                        <th>password</th>
                        <th colspan="2" id="change">IZMENI</th>
                        <th colspan="2" id="delete">IZBRISI</th>
                    </tr>
                    <tr>
                        <td id="aid"></td>
                        <td id="ausername"></td>
                        <td id="apassword"></td>

                    </tr>
                </table>
            </div> -->

            <div id="ad" th:case="ad">

                <h3>Oglasi</h3>

                <table id="adinfo">
                    <tr>
                        <th>id</th>
                        <th>description</th>
                        <th>dateOfPosting</th>
                        <th>dateDeadline</th>
                        <!-- <th>workFromHome</th> -->
                        <th>viewCount</th>
                        <th>likeCount</th>
                        <th>job</th>
                    </tr>
                    <tr th:each="ad : ${ads}">
                        <td id="adid" th:text="${ad.getId()}"></td>
                        <td id="addescription" th:text="${ad.getDescription()}"></td>
                        <td id="addateOfPosting" th:text="${ad.getDateOfPosting()}"></td>
                        <td id="addateDeadline" th:text="${ad.getDateDeadline()}"></td>
                        <!-- <td id="adworkFromHome" th:text="${ad.isWorkFromHome()}"></td> -->
                        <td id="adviewCount" th:text="${ad.getViewCount()}"></td>
                        <td id="adlikeCount" th:text="${ad.getLikeCount()}"></td>
                        <td id="adjob" th:text="${ad.getJob()}"></td>
                        <td><button id="change">IZMENI</button></td>
                        <td><button id="delete">IZBRISI</button></td>
                    </tr>
                </table>

            </div>
            <div id="comment" th:case="comment">

                <h3>Komentari</h3>

                <table id="cominfo">
                    <tr>
                        <th>id</th>
                        <th>comm</th>
                        <th>idEmployer</th>
                        <th>idCandidate</th>
                        <th>idResponse</th>
                        <th>date</th>
                    </tr>
                    <tr th:each="com : ${comments}">
                        <td id="coid" th:text="${com.getId()}"></td>
                        <td id="cocomm" th:text="${com.getComm()}"></td>
                        <td id="coidEmployer" th:text="${com.getIdEmployer()}"></td>
                        <td id="coidCandidate" th:text="${com.getIdCandidate()}"></td>
                        <td id="coidResponse" th:text="${com.getIdResponse()}"></td>
                        <td id="codate" th:text="${com.getDate()}"></td>
                        <td><button id="change">IZMENI</button></td>
                        <td><button id="delete">IZBRISI</button></td>
                    </tr>
                </table>
            </div>
            <div th:case="*"></div>
        </div>
        <div id="notifications">
            <h3>Notifikacije</h3>
            <div id="notification">
                <h4 id="ntitle"></h4>
                <p id="ncontent"></p>
            </div>
        </div>
    </div>
</body>

</html>