<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista poslova</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/listaposlovacss.css}" />
</head>

<body>
    <div class="navbar">
        <a th:href="@{/OglasiImi}">Početna</a>
        <div class="topnav-right">
            <div th:switch="${type}">
                <div th:case="'unregistered'">
                    <a th:href="@{/OglasiImi/prijava}">Prijavite se</a>
                    <div class="dropdown">
                        <button class="dropbtn">
                Registrujte se
                <i class="fa fa-caret-down"></i>
              </button>
                        <div class="dropdown-content">
                            <a th:href="@{/OglasiImi/registracijaKompanije}">Kao poslodavac</a
                >
                <a th:href="@{/OglasiImi/registracija}">Kao kandidat</a>
                        </div>
                    </div>
                </div>
                <div th:case="'candidate'">
                    <a th:href="@{/OglasiImi/profileCandidate}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
                <div th:case="'employer'">
                    <a th:href="@{/OglasiImi/profileCompany}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
                <div th:case="'admin'">
                    <a th:href="@{/OglasiImi/AdmininstratorSpace}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div th:switch="${personalized}">
            <div th:case="yes">
                <h2>Oglasi koji mi se svidjaju</h2>
            </div>
            <div th:case="no">
                <h2>Lista poslova</h2>
            </div>
        </div>
        <div id="oglasi" th:each="ad : ${keyword}">
            <a th:href="|/OglasiImi/poslovi/oglas/${ad.getId()}|">
                <p id="nazivOglasa" th:text="${ad.getDescription()}"></p>
            </a>
            <p id="nazivPoslodavca">Naziv posodavca</p>
            <div id="opisOglasa" style="
            width: 99%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          "></div>
            <br />
            <div id="datumIsteka" th:text="${ad.getDateDeadline()}">
                <img th:src="@{/images/unnamed.png}" style="width: 20px; height: 20px" />
            </div>
        </div>
    </div>
</body>

</html>