<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
​

<head>
    <title th:text="${ad.getDescription()}"></title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/oglasCSS.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" th:src="@{/js/jsdeo.js}"></script>
    <style>
        .reply-form-wrapper {
            display: none;
        }
        
        .reply-form-wrapper.active {
            display: initial;
        }
    </style>
</head>
​

<body>
    <div class="navbar">
        <a th:href="@{/OglasiImi}">Početna</a>
        <div class="topnav-right">
            <div th:switch="${type}">
                <div th:case="'unregistered'">
                    <a th:href="@{/OglasiImi/prijava}">Prijavite se</a>
                    <div class="dropdown">
                        <button class="dropbtn">
                Registrujte se
                <i class="fa fa-caret-down"></i>
              </button>
                        <div class="dropdown-content">
                            <a th:href="@{/OglasiImi/registracijaKompanije}">Kao poslodavac</a
                >
                <a th:href="@{/OglasiImi/registracija}">Kao kandidat</a>
                        </div>
                    </div>
                </div>
                <div th:case="'candidate'">
                    <a th:href="@{/OglasiImi/profileCandidate}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
                <div th:case="'employer'">
                    <a th:href="@{/OglasiImi/profileCompany}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
                <div th:case="'admin'">
                    <a th:href="@{/OglasiImi/AdmininstratorSpace}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="nazivOglasa"><span th:text="${ad.getDescription()}"></span></div>
        <div id="Osnovno">
            <div id="poslodavac"><a id="poslodavacLink" th:href="|/OglasiImi/poslodavac/${ad.getEmpId()}|">poslodavac</a></div>
            <div id="radnaPozicija">radna pozicija<span th:text="${ad.getJob()}"></span></div>
            <div id="tipZap">
                <img th:src="@{/images/torba.png}" style="width: 20px;height: 20px;"> Tip zaposlenja
                <span th:text="${ad.getJob()}"></span>
            </div>
            <div id="datumPostavljeno" th:text="${ad.getDateOfPosting()}">
                <img th:src="@{/images/unnamed.png}" style="width: 20px;height: 20px;"> Datum postavljanja
                <span th:text="${ad.getDateOfPosting()}"></span><br>
            </div>
            <div id="datumIsteka" th:text="${ad.getDateDeadline()}">
                <img th:src="@{/images/unnamed.png}" style="width: 20px;height: 20px;"> Datum isteka
                <span th:text="${ad.getDateDeadline()}"></span>
            </div>
            <span>Broj pregleda</span>
            <span th:text="${ad.getViewCount()}"></span>
            <span>Broj lajkova</span>
            <span th:text="${ad.getLikeCount()}"></span>
        </div>
        <!--            <p id="tekstOglasa">Tekst oglasa</p>
​
        |/OglasiImi/poslovi/oglas/${ad.getId()}|
        -->
        <!--            <div id="opis"> </div>-->
        <div id="konkurisi" th:switch="${type}">
            <div th:case="candidate">
                <a th:href="|/OglasiImi/poslovi/oglas/konkurisi/${ad.getId()}|">
                    <input id="b1" type="submit" value="konkurisi" /></a>
                <div th:switch="${isliked}">
                    <div th:case="'not'">
                        <form id="formLike" method="POST" th:action="|/OglasiImi/poslovi/oglas/${ad.getId()}/liked|">
                            <button id="hideme" type="submit">Like</button>
                        </form>
                    </div>
                    <div th:case="'yes'"></div>
                </div>
                <div th:switch="${isReported}">
                    <div th:case="'not'">
                        <form id="formReport" method="POST" th:action="|/OglasiImi/poslovi/oglas/${ad.getId()}/reported|">
                            <button id="hideme2" type="submit">Report</button>
                        </form>
                    </div>
                    <div th:case="'yes'"></div>
                </div>
            </div>
            <div th:case="employer">
                <div th:switch="${isReported}">
                    <div th:case="'not'">
                        <form id="formReport" method="POST" th:action="|/OglasiImi/poslovi/oglas/${ad.getId()}/reported|">
                            <button id="hideme2" type="submit">Report</button>
                        </form>
                    </div>
                    <div th:case="'yes'"></div>
                </div>
            </div>
            <a th:case="*" th:href="@{/OglasiImi/prijava}">
                <input id="b1" type="submit" value="konkurisi" />
            </a>
            ​
        </div>
        <!--Section for applications-->
        ​
        <!--Comment section-->
        <!-- <div> -->
        <div th:switch="${type}">
            <div th:case="unregistered"> Registruj se da komentarises!</div>
            <div th:case="*">
                <form id="formInitialComment" th:object="${newCom}" th:action="|/OglasiImi/poslovi/oglas/${ad.getId()}/comment|" method="POST">
                    <textarea id="komentar" name="comm" rows="4" cols="50" th:field="*{comm}"></textarea>
                    <input type="hidden" th:field="*{idCandidate}" name="idCandidate">
                    <input type="hidden" th:field="*{idEmployer}" name="idEmployer">
                    <input type="hidden" th:field="*{idAd}" name="idAd">
                    <button id="idk" type="submit">Postavi komentar</button>
                </form>
            </div>
        </div>
        <div>
            <div th:each="com : ${coms}">
                <p th:text="${com.name}"></p>
                <p th:text="${com.comment}"></p>
                <button id="reply" onclick="event.target.nextElementSibling.classList.toggle('active')">Reply</button>
                <div class="reply-form-wrapper">
                    <form th:object="${newCom}" th:action="|/OglasiImi/poslovi/oglas/${ad.getId()}/comment|" method="POST">
                        <textarea id="komentar" name="komentar" rows="4" cols="50" th:field="*{comm}"></textarea>
                        <input type="hidden" th:field="*{idCandidate}">
                        <input type="hidden" th:field="*{idEmployer}">
                        <input type="hidden" th:field="*{idAd}">
                        <div th:if="${newCom.getIdResponse()}==null">
                            <input type="hidden" name="idResponse" th:value="${com.getId()}">
                        </div>
                        <div th:unless="${newCom.getIdResponse()}==null">
                            <input type="hidden" name="idResponse" th:value="${newCom.getIdResponse()}">
                        </div>

                        <!-- th:value="${comIds.get(coms.indexOf(com))}">
                        th:text="${__#{article.text('textVar')}__}"
                        -->
                        <button id="idk" type="submit">Postavi komentar</button>
                    </form>
                </div>
                ​
            </div>
        </div>
    </div>
</body>
​

</html>