<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prijava</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/prijavacss.css}">
</head>

<body>
    <h2>Prijavite se</h2>
    <form th:action="@{/OglasiImi}" method="get">
        <div class="container">
            <label for="uname"><b>Username</b></label>

            <input id="usrname" type="text" placeholder="Uneti Email" name="usrname" required>

            <label for="psw"><b>Lozinka</b></label>

            <input id="pswrd" type="password" placeholder="Uneti lozinku" name="pswrd" required>

            <button type="submit">Prijavi se</button>
            <label>
      <input type="checkbox" checked="checked" name="remember"> Zapamti me
    </label>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn"><a th:href="@{/OglasiImi}" style="text-decoration: none;color:whitesmoke;">PO&Ccaron;ETNA STRANA</a></button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</body>

</html>