<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Profil poslodavca</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
<link rel="stylesheet" th:href="@{https://www.w3schools.com/lib/w3-theme-blue-grey.css}">
<link rel='stylesheet' th:href="@{https://fonts.googleapis.com/css?family=Open+Sans}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
<link type="text/css" th:href="@{/css/profilPoslodavcacss.css}" rel="stylesheet">
<style></style>

<body class="w3-theme-l5">
    <div class="navbar">
        <a th:href="@{/OglasiImi}">Početna</a>
        <div class="topnav-right">
            <div th:switch="${type}">
                <div th:case="'unregistered'">
                    <a th:href="@{/OglasiImi/prijava}">Prijavite se</a>
                    <div class="dropdown">
                        <button class="dropbtn">
            Registrujte se
            <i class="fa fa-caret-down"></i>
          </button>
                        <div class="dropdown-content">
                            <a th:href="@{/OglasiImi/registracijaKompanije}">Kao poslodavac</a
            >
            <a th:href="@{/OglasiImi/registracija}">Kao kandidat</a>
                        </div>
                    </div>
                </div>
                <div th:case="'candidate'">
                    <a th:href="@{/OglasiImi/profileCandidate}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
                <div th:case="'employer'">
                    <a th:href="@{/OglasiImi/profileCompany}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
                <div th:case="'admin'">
                    <a th:href="@{/OglasiImi/AdmininstratorSpace}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <div class="w3-row">
            <div class="w3-col m3">
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <form class="w3-container" method="POST" th:object="${userForm}" action="#" th:action="@{/OglasiImi/poslodavacChangeInfo}">
                            <h4 class="w3-center">Moj profil</h4>
                            <p class="w3-center"><img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                            <hr>
                            <label for="companyname"><b>Ime kompanije</b></label>
                            <input type="text" th:field="*{companyName}" placeholder="Uneti ime" name="firstname">
                            <label for="industry_branch"><b>Branša</b></label>
                            <input type="text" th:field="*{industryBranch}" placeholder="Uneti branšu" name="industry_branch">
                            <label for="pib"><b>Pib</b></label>
                            <input type="text" th:field="*{pib}" placeholder="Uneti pib" name="pib">
                            <label for="weblink"><b>Website</b></label>
                            <input type="text" th:field="*{linkToWebsite}" placeholder="Uneti vebsajt" name="weblink">
                            <label for="address"><b>Adresa</b></label>
                            <input type="text" th:field="*{address}" placeholder="Uneti adresu" name="address">
                            <label for="country"><b>Zemlja</b></label>
                            <input type="text" th:field="*{country}" placeholder="Uneti korisni&ccaron;ko ime" name="country">
                            <label for="post_number"><b>Poštanski broj</b></label>
                            <input type="text" th:field="*{postNumber}" placeholder="Uneti poštanski broj" name="post_number">
                            <label for="contact"><b>Kontakt</b></label>
                            <input type="text" th:field="*{contactNumber}" placeholder="Uneti broj telefona" name="contact">
                            <label for="email"><b>Email</b></label>
                            <input type="text" th:field="*{email}" placeholder="Uneti Email" name="email">
                            <button type="submit" class="changeInfoBtn">Promeni podatke</button>
                        </form>
                    </div>
                </div>

            </div>
            <br>
        </div>
        <footer class="w3-container w3-theme-d3 w3-padding-16">
            <h5></h5>
        </footer>

</body>

</html>