<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Profil poslodavca</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
<link rel="stylesheet" th:href="@{https://www.w3schools.com/lib/w3-theme-blue-grey.css}">
<link rel='stylesheet' th:href="@{https://fonts.googleapis.com/css?family=Open+Sans}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
<link type="text/css" th:href="@{/css/profilPoslodavcacss.css}" rel="stylesheet">
<style></style>

<body class="w3-theme-l5">
    <div class="navbar">
        <a th:href="@{/OglasiImi}">Početna</a>
        <div class="topnav-right">
            <div th:switch="${type}">
                <div th:case="'unregistered'">
                    <a th:href="@{/OglasiImi/prijava}">Prijavite se</a>
                    <div class="dropdown">
                        <button class="dropbtn">
            Registrujte se
            <i class="fa fa-caret-down"></i>
          </button>
                        <div class="dropdown-content">
                            <a th:href="@{/OglasiImi/registracijaKompanije}">Kao poslodavac</a
            >
            <a th:href="@{/OglasiImi/registracija}">Kao kandidat</a>
                        </div>
                    </div>
                </div>
                <div th:case="'candidate'">
                    <a th:href="@{/OglasiImi/profileCandidate}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
                <div th:case="'employer'">
                    <a th:href="@{/OglasiImi/profileCompany}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
                <div th:case="'admin'">
                    <a th:href="@{/OglasiImi/AdmininstratorSpace}" th:text="${currentUser.getUsername()}"></a>
                    <a th:href="@{/OglasiImi/prijava}">Odjavi me</a>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <div class="w3-row">
            <div class="w3-col m3">
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center">Moj profil</h4>
                        <p class="w3-center"><img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                        <hr>
                        <p><i class="fa fa-building fa-fw w3-margin-right w3-text-theme" th:text="${userForm.getCompanyName()}"></i></p>
                        <p><i class="fa fa-industry  fa-fw w3-margin-right w3-text-theme" th:text="${userForm.getIndustryBranch()}"></i></p>
                        <p><i class="fa fa-certificate  fa-fw w3-margin-right w3-text-theme" th:text="${userForm.getPib()}"></i></p>
                        <p><i class="fa fa-share  fa-fw w3-margin-right w3-text-theme" th:text="${userForm.getLinkToWebsite()}"></i></p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme" th:text="${userForm.getAddress()}"></i></p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme" th:text="${userForm.getCountry()}"></i></p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme" th:text="${userForm.getPostNumber()}"></i></p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme" th:text="${userForm.getContactNumber()}"></i></p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme" th:text="${userForm.getEmail()}"></i></p>
                    </div>
                </div>
                <br>
                <div class="w3-card w3-round">
                    <div class="w3-white">
                        <div class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Broj pregleda</div>
                        <div id="Demo2" class="w3-container">
                            <p th:text="${noviews}"></p>
                        </div>
                        <div class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> Broj svidjanja </div>
                        <div id="Demo2" class="w3-container">
                            <p th:text="${nolikes}"></p>
                        </div>
                        <div class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> Broj oglasa</div>
                        <div id="Demo2" class="w3-container">
                            <p th:text="${noads}"></p>
                        </div>
                        <div class="w3-card w3-round" th:switch="${canChange}">
                            <div class="w3-white" th:case="yes">
                                <button class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i><a th:href="@{/OglasiImi/poslodavacChangeInfo}">Change Account Info</a></button>

                            </div>
                            <div th:case="no"></div>
                        </div>
                    </div>
                </div>
                <br>

            </div>
            <div class="w3-col m7">
                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">
                                <a class="w3-border w3-padding" th:href="@{/OglasiImi/postaviOglas}">Napisi oglas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3-container w3-card w3-white w3-round w3-margin" th:each="ad : ${ads}">
                    <br>
                    <a th:href="|/OglasiImi/poslovi/oglas/${ad.getId()}|">
                        <p id="nazivOglasa" th:text="${ad.getDescription()}"></p>
                    </a>
                    <br>
                    <hr class="w3-clear">
                    <p>Potreban radnik</p>
                </div>

            </div>
        </div>
        <br>
    </div>
    <footer class="w3-container w3-theme-d3 w3-padding-16">
        <h5></h5>
    </footer>
    <script>
        // Accordion
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</body>

</html>